@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define default font globally */
body {
  
  font-optical-sizing: auto;
  font-weight: 400; /* Default weight */
  font-style: normal;
}


.lexical h1 {
  @apply block font-sans text-4xl font-semibold leading-[1.3] tracking-normal text-inherit antialiased;
}
 
.lexical h2 {
  @apply block font-sans text-3xl font-semibold leading-snug tracking-normal text-inherit antialiased;
}
 
.lexical p {
  @apply block font-sans text-base font-normal leading-relaxed text-inherit antialiased;
}
 
.lexical ul {
  @apply list-inside list-disc;
}
 
.lexical ol {
  @apply list-inside list-decimal;
}
 
.lexical li {
  @apply font-sans text-base font-normal leading-relaxed text-inherit antialiased;
}
 
.lexical blockquote {
  @apply block font-sans text-xl font-normal leading-relaxed text-inherit antialiased;
}
 
.lexical code {
  @apply rounded-md bg-gray-900/[0.1] px-1 py-0.5 text-sm font-normal text-gray-900;
}


@layer components {
    .sidebar-style {
        @apply relative flex items-center justify-start w-auto px-2 py-2 mt-2 mb-2 mx-1  text-black dark:text-green-400 
        hover:bg-green-500  cursor-pointer
        rounded-3xl hover:rounded-xl transition-all duration-300 ease-linear gap-2
    }

    .sidebar-tooltip {
       @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
    }

    .button-style{
      @apply flex items-center gap-2 bg-blue-400 dark:bg-blue-700 text-white/85 font-bold px-4 py-2 rounded-lg hover:bg-[#218dff] dark:hover:bg-[#1973c0] focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-[#218dff] dark:focus:ring-[#1973c0]
    }

    .gradient-title {
      @apply font-extrabold tracking-tighter text-transparent pr-2 pb-2 bg-gradient-to-br from-red-500 via-blue-100 to-blue-400 bg-clip-text;
    }


      .top-navigation-icon {
        @apply text-gray-500
        mr-3 ml-4
        transition duration-300 ease-in-out 
        hover:text-pink-400 
        cursor-pointer;
      }
    
      .top-navigation-icon:first {
        @apply ml-auto mr-4;
      }

      .title-hashtag {
        @apply text-lg tracking-wider font-semibold text-gray-500 
        ml-2 my-auto;
      }
    
      .title-text {
        @apply text-xl text-gray-900 dark:text-gray-100 tracking-wider font-semibold text-opacity-80 
        mr-auto ml-2 my-auto 
        transition duration-300 ease-in-out;
      }
    
      .search {
        @apply w-1/5 flex items-center justify-start 
        bg-gray-400 dark:bg-gray-600
        text-gray-500
        px-2 h-9 ml-0 mr-0 
        rounded-md shadow-md
        transition duration-300 ease-in-out;
      }
    
      .search-input {
        @apply w-full font-sans font-semibold
        bg-transparent outline-none 
        text-gray-800  placeholder-gray-200
        pl-1 rounded;
      }
}